Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, isort, black, flake8, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

isort:
  name: isort
  language: python
  pass_filenames: false
  entry: isort --settings-path=pyproject.toml src

black:
  name: black
  language: python
  pass_filenames: false
  entry: black --config=pyproject.toml src

flake8:
  name: flak8
  language: python
  pass_filenames: false
  entry: pflake8 --config=pyproject.toml src

mypy:
  name: mypy
  language: python
  pass_filenames: false
  entry: mypy src/ --config-file=pyproject.toml

feature: 1、审计日志中新增人员全名列&导出列表优化 #618 2、通过excel导入用户组织支持全量更新 #728 (#855)
  src/pages/src/components/catalog/home/ImportUser.vue
  src/pages/src/store/modules/catalog.js
  src/pages/src/views/audit/index.vue
  src/pages/src/views/catalog/PageHome.vue
Due: IP check

feature: admin账户重置密码需要先输入原密码进行校验 #811 (#856)
  src/pages/src/views/organization/details/UserMaterial.vue
Due: IP check

refactor: 定义手机重置密码系列output_slz
  src/api/bkuser_core/api/web/password/serializers.py
Due: IP check, isort, black, flake8, mypy

refactor: task文件证书添加
  src/api/bkuser_core/api/web/password/tasks.py
Due: IP check, isort, black, flake8, mypy

feat: rsa 前端加密 #808
  src/pages/package.json
  src/pages/src/common/rsa.js
  src/pages/src/main.js
  src/pages/src/store/modules/password.js
  src/pages/src/views/organization/details/UserMaterial.vue
  src/pages/src/views/password/Modify.vue
  src/pages/src/views/password/Set.vue
Due: IP check

refactor: 日志补充，返回数据接口通过output_slz
  src/api/bkuser_core/api/web/password/tasks.py
  src/api/bkuser_core/api/web/password/verification_code_handler.py
  src/api/bkuser_core/api/web/password/views.py
Due: IP check, isort, black, flake8, mypy

refactor: 日志补充
  src/api/bkuser_core/api/web/password/tasks.py
Due: IP check, isort, black, flake8, mypy

feature: 忘记密码支持手机号验证，进行密码重置 # issue631 (#837)
  src/api/bkuser_core/api/web/password/serializers.py
  src/api/bkuser_core/api/web/password/tasks.py
  src/api/bkuser_core/api/web/password/urls.py
  src/api/bkuser_core/api/web/password/verification_code_handler.py
  src/api/bkuser_core/api/web/password/views.py
  src/api/bkuser_core/api/web/utils.py
  src/api/bkuser_core/common/error_codes.py
  src/api/bkuser_core/config/common/storage.py
  src/api/bkuser_core/user_settings/migrations/0020_add_reset_password_by_phone_confi.py
Due: IP check, isort, black, flake8, mypy

feat：rsa 前端加密优化
  src/pages/src/views/organization/details/UserMaterial.vue
Due: IP check

fix(src/build): support binary version redis
  src/build/api/support-files/templates/api#bkuser_core#config#overlays#prod.py
Due: IP check, isort, black, flake8, mypy

fix(poetry.lock): update
  src/api/poetry.lock
Due: none

fix： Saas层补充代理接口,增加相关接口的免登陆白名单
  src/saas/bkuser_shell/config/common/system.py
  src/saas/bkuser_shell/proxy/urls.py
Due: IP check, isort, black, flake8, mypy

docs(changelog): update to 2.5.2
  src/saas/RELEASE.yaml
Due: IP check

fix: 目录meta list接口rsa设置不返回
  src/api/bkuser_core/api/web/constants.py
  src/api/bkuser_core/api/web/setting/views.py
Due: IP check, isort, black, flake8, mypy

fix: 前端国际化补充
  src/pages/src/components/catalog/home/ImportUser.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
Due: IP check

fix： 修复点击忘记，需进行登录态校验
  src/saas/bkuser_shell/config/common/system.py
Due: IP check, isort, black, flake8, mypy

refactor: cr修改；文案修改
  src/pages/src/components/catalog/home/ImportUser.vue
  src/pages/src/language/lang/en.js
Due: IP check

fix: 前端国际化补充 (#867)
  src/pages/src/components/catalog/home/ImportUser.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
Due: IP check

fix: 目录meta list接口rsa设置不返回 (#868)
  src/api/bkuser_core/api/web/constants.py
  src/api/bkuser_core/api/web/setting/views.py
Due: IP check, isort, black, flake8, mypy

fix： 修复点击忘记，需进行登录态校验 (#869)
  src/saas/bkuser_shell/config/common/system.py
Due: IP check, isort, black, flake8, mypy

fix: 搜索前端展示空白/错乱 #875
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: IP check

fix(audit/login): fix #876 login audit log login_time not local time
  src/api/bkuser_core/api/web/audit/serializers.py
Due: IP check, isort, black, flake8, mypy

fix: 搜索前端展示空白/错乱 #875 (#877)
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: IP check

fix(audit/login): fix slz wrong
  src/api/bkuser_core/api/web/audit/serializers.py
Due: IP check, isort, black, flake8, mypy

fix(audit/login): fix #876 login audit log login_time not local time (#878)
  src/api/bkuser_core/api/web/audit/serializers.py
Due: IP check, isort, black, flake8, mypy

fix: 前端交互问题修复 #879
  src/pages/package.json
  src/pages/src/views/audit/index.vue
  src/pages/src/views/organization/details/UserMaterial.vue
Due: IP check

fix: 前端交互问题修复 #879 (#880)
  src/pages/package.json
  src/pages/src/views/audit/index.vue
  src/pages/src/views/organization/details/UserMaterial.vue
Due: IP check

fix(poetry): update
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: IP check

fix(poetry): update (#881)
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: IP check

refactor: 变更重置密码验证码短信文案
  src/api/bkuser_core/user_settings/migrations/0020_add_reset_password_by_phone_confi.py
Due: IP check, isort, black, flake8, mypy

refactor: 变更重置密码验证码短信文案 (#882)
  src/api/bkuser_core/user_settings/migrations/0020_add_reset_password_by_phone_confi.py
Due: IP check, isort, black, flake8, mypy

fix(reset_password/sms): tempalte wrong
  src/api/bkuser_core/user_settings/migrations/0020_add_reset_password_by_phone_confi.py
Due: IP check, isort, black, flake8, mypy

fix(reset_password/sms): tempalte wrong (#883)
  src/api/bkuser_core/user_settings/migrations/0020_add_reset_password_by_phone_confi.py
Due: IP check, isort, black, flake8, mypy

fix: 修改密码报错问题修复
  src/pages/src/views/organization/details/UserMaterial.vue
Due: IP check

fix(saas/search): fix profiles/search response userinfo miss account_expiration_date
  src/api/bkuser_core/api/web/profile/serializers.py
  src/api/bkuser_core/api/web/search/serializers.py
  src/api/bkuser_core/api/web/setting/views.py
Due: IP check, isort, black, flake8, mypy

fix(saas/search): /search response body same with /profile/search
  src/api/bkuser_core/api/web/profile/serializers.py
Due: IP check, isort, black, flake8, mypy

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt)|src/login/locale/en/LC_MESSAGES/django.po|src/login/bklogin/templates/account/agreement.part
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
